// 1. Font Base
$black: #292929;
$gray: #999;

// 2. Grays
$bg-gray: #D8D8D8;
$light-gray: #BEBEBE;
$bg-light-gray: #F0F0F0;

// 3. Primary Colors
$green-base: #33CD7F;
$blue-base: #33CDCD;
$purple-base: #965ACC;

// 4. Secondary Colors
$dark-green: #576966;
$special-pink: #FF4068;